.Header{
    display: flex;
    justify-content:space-between;
    align-items:Center;
    font-size:1.2rem;
    padding: 0 30px;
    background-color:black;
    width:95%;
    height:80px;
    border-radius:13px;
    position:fixed;
    top:20px;
    left:50%;
    transform:translate(-50%);
}

.logo{
    padding-top:5px;
}

.search{
    border-radius:13px;
    width:30%;
}

#search_type{
    width:70%;
    height:25px;   
}

#btn{
    height:30px;
   
}